body{
  background:linear-gradient(to right, red, yellow);
}
#userinput{
  padding:10px 7px 5px 7px;
  margin-right: 5px;
  background : black;
  color: white;
  border: .5px solid grey;
}
#first{
  font-family: 'Cinzel', serif;
  font-size:1em;
  font-weight: bold;
}

#enter{
  background: none;
  text-transform: uppercase;
  border:0px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  transition:background-color,transform 0.6s;
}

#enter:hover{
  background-color: white;
  opacity:0.7;
  font-weight:bold;
  border-radius: 5px;
  transform: scaleX(1.1);

}

.butt{
  background: none;
  text-transform: uppercase;
  border:0px;
  font-family: 'Amatic SC', cursive;
  font-size:0.9em;
  transition: background-color,margin 0.6s;
}

.butt:hover{
  background-color: white;
  border-radius: 4px;
  opacity:0.5;
  font-weight: bold;
  margin:0px 5px 0px 10px;
}

li{
  text-decoration: none;
  text-transform: uppercase;
  font-family:'Amatic SC', cursive;
  font-size:2em;
  font-weight: bold;
}

h1{
  font-family: 'Cinzel', serif;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: aqua;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}
